@import './varible';

.banner-blog{
     #banner-blog{
          background-image: url(../img/banner-blog.jpg);
     }
}
.posts {
     .search-box {
          padding: 15px;
          margin-top: 5px;
          box-shadow: 0px 1px 1px 1px $custom-color;
          border: 1px solid $custom-color;
     }
     .card {
          .card-text {
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               color: $card-text-coler;
          }
     }
}
.form-control {
     &:focus {
          border-color: $main-color !important;
          box-shadow: none !important;
     }
}
.posts-detalis {
     .card {
          .card-body {
               .card-text {
                    color: $card-text-coler;
               }
               .card-title {
                    font-weight: 800;
                    color: $main-color;
               }
          }
     }
     .post-share {
          color: $main-color;
     }
}
.one-social {
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid $card-text-coler;
     color: $card-text-coler;
     width: 45px;
     height: 45px;
     border-radius: 3px;
     margin-left: 10px;
     float: left;
}
.linkedin-social{
     &:hover,
     &:focus {
          color: #fff;
          background-color: #3b5998;
     }
}
.add-blog {
     label {
          &:first-child {
               font-size: 14px;
               font-weight: bold;
          }
     }
}