.banner {
     #banner-img {
          background-image: url(../img/projects-banner.jpg);
          background-repeat: no-repeat;
          background-position: 50% 10%;
          height: 250px;
     }
     .overlay {
          position: absolute;
          background-color: rgba(65,155,155,0.5);
          top: 0;
          right: 0;
          height: 100%;
          width: 100%;
          display: flex !important;
          justify-content: center;
          align-items: center;
          .title1 {
               font-weight: bold;
               color: white;
          }
     }
}